*{
    padding: 0;
    margin: 0;
}


/* navbar */


.navbar{
    background: linear-gradient(90deg, rgba(17, 19, 21, 1) 0%, rgba(31, 33, 35, 1) 100%);
    height: auto;
    padding: 10px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    cursor: pointer;
    margin: 8px;
    font-size: 25px;
    font-weight: bold;
}

.search-box{
    background: linear-gradient(90deg, rgba(39, 40, 42, 1) 0%, rgba(28, 31, 30, 1) 100%);
    width: auto;
    padding: 5px;
    height: auto;
    border-radius: 25px;
    text-align: center;
}

.search-input{
    width: 300px;
    margin-inline: 4px;
    border: none;
    outline: none;
    color: aliceblue;
    background-color: transparent;
}
.search-box button{
    text-align: center;
    justify-content: center;
    padding: 4px 15px 4px 15px;
    background-color: #2b2e30;
    margin: 0 2px 0 2px;
    border-radius: 25px;
}

.navbar ul li{
    display: inline-block;
    justify-items: center;
}


/* content */

.content{
    background: linear-gradient(90deg, rgba(17, 19, 21, 1) 0%, rgba(31, 33, 35, 1) 100%);
    display: flex;
    width: auto;
    padding: 15px 0 15px;
}


/* main */

.main{
    width: auto;
    color: aliceblue;
    text-align: center;
}

.main .grid-main{
    display: flex;
    justify-content: space-between;
}

.main .grid-main .grid-1{
    width: 700px;
    height: 300px;
    margin-inline: 20px;
    background-color: #FA627F;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* banner warna merah di tengah */

.grid-1 .container-1{
    display: flex;
}


.banner-merah-1{
    background-color: aqua;
    width: 650px;
    border: 2px solid black;
    border-radius: 25px;
    min-height: 250px;
    margin: 5px;
    z-index: 5;
    text-align: start;
    padding: 7px;
}

.banner-merah-2{
    /* background-color: blue; */
    width: auto ;
    height: auto;
    z-index: 2;
}

.banner-merah-2 img{
}




.main .grid-main .grid-2{
    width: 300px;
    height: 300px;
    margin-inline: 20px;
    /* background-color: #242525;
    border-radius: 25px; */
    background: #242525;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(26, 28, 30, 0.07);
}

.judul-play{
    margin: 20px 17px 20px 17px;
    text-align: start;
    
}
.judul-play .judul{
    display: flex;
    justify-content: space-between;
}

.judul-play .judul p{
    color: #FA627F;
    font-weight: 500;
}

.judul-play p{
    text-align: start;
    font-size: 15px;
    word-spacing: 2%;
    font-weight: 300;
}

.judul-play h1{
    font-size: 25px;
    font-weight: 600;
}

/* side left */

.aside-left{
    background-color: transparent;
    width: 15%;
    height: auto;
    text-align: center;
    color: aliceblue;
}

.home-icon{
    padding: 10px 0 10px 0;
}

.home-icon .fa-solid{
    background-color: #FA627F;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 50%;
}

.bar-left{
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.video{
    background-color: #242525;
    width: 50px;
}

/* side right */

.aside-right{
    width: 15%;
    height: 100vh;
    float: right;
    color: aliceblue;
}